mixin header
	header.header
		.container
			.header-top
				.header-top_logo
					h1.header-top_text Mogo
				nav.header-top_nav
					+menu(headerMenuArray)
				.header-top_shop
					.header-top_icon
						+icon('basket')
					.header-top_icon
						+icon('search')
			.header-bottom
				.head-slider
					each val in headerSliderArray
						+slider_item(val.text_top, val.text_bottom, val.text_btn)

mixin footer
	footer.footer
		.footer-left
			.footer-left_logo Mogo
			.footer-left_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			a.footer-left_followers(href='#') <strong>15k</strong> followers
			.footer-left_soc
				span.footer-left_desc
				ul.footer-left_items
					each val in footerSocArray
						li.footer-left_item
							a.footer-left_ref.footer-left_facebook(href= val.ref)= val.name
			form.footer-left_form
				input.footer-left_subscribe
				button.footer-left_btn
		.footer-centr
			.footer-centr_title Blogs
			ul.footer-centr_items
				each val in footerBlogArray
					li.footer-centr_item
						.footer-centr_img_wrp
							img.footer-centr_img(src= val.img width='119' height='79')
						a.footer-centr_ref(src= val.ref)= val.ref_text
						.footer-centr_data= val.data
		.footer-right
			.footer-right_title Instagram
			ul.footer-right_items
				each val in footerInstagramArray
					li.footer-right_item
						a.footer-right_link(href= val.ref)
							img.footer-right_img(src= val.img width='88' height='88')
			a.footer-right_more(href='#') View more photos

mixin slider_item(text_top, text_bottom, text_btn)
	- text_top = text_top || ''
	- text_bottom = text_bottom || ''
	- text_btn = text_btn || ''
	.head-slider_item
		h2.head-slider_text-top= text_top
		h2.head-slider_text-bottom= text_bottom
		a.head-slider_btn= text_btn

mixin gl_title(text_top, text_mid, text_caption)
	- text_top = text_top || ''
	- text_mid = text_mid || ''
	- text_caption = text_caption || ''
	.title_section
		span.title_top= text_top
		h2.title_mid= text_mid
		if text_caption
			p.title_caption= text_caption

mixin slide_testimonials(comeArray, classPrefix)
	- classPrefix = classPrefix || ''
	section(class= `${classPrefix}`)
		div(class= `${classPrefix}_slider`)
			each val in comeArray
				div(class= `${classPrefix}_item`)
					div(class= `${classPrefix}_i-wrp`)
						img(class= `${classPrefix}_img` src= val.img width='150' height='150')
					div(class=`${classPrefix}_info`)
						p(class= `${classPrefix}_text`)= val.text
						div(class =`${classPrefix}_sign`)= val.xsign